<div class="row-fluid">
  <div class="span7">
    {{ content }}
  </div>
  <div class="span5">
    <div class="well sidebar-nav">
      <ul class="nav nav-list">
        <li class="nav-header">Ten Most Recent Posts</li>
        {% for post in site.posts limit: 10 %}
          <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
        <li class="nav-header">...</li>
        <li>Check the <a href="archive.html">Archive</a> for more posts.</li>
      </ul>
    </div>
  </div>
</div>
