<div class="page-header">
  <h1>{{ page.title }} {% if page.tagline %} <small>{{ page.tagline }}</small>{% endif %}</h1>
</div>

<div class="row">
  <div class="span8">
    {{ content }}
  </div>
</div>

<div class="span4">
  <h4>Navigation</h4>
  <ul>
  <li><a href="{{ BASE_PATH }}/tags.html">Tags</a></li>
  <li><a href="{{ BASE_PATH }}/categories.html">Categories</a></li>
  <li><a href="{{ BASE_PATH }}/pages.html">Pages</a></li>
  <li><a href="{{ BASE_PATH }}/sitemap.txt">Sitemap</a></li>
  </ul>
</div>
